
* {
    color:greenyellow;
  }
  body {
    background-color: black; 
    margin:0;
  }
 
  h1 { 
     font-style: italic;
     font-size: 80px;
     text-align: center; 
     }
     h2 {
     font-style: italic;
     font-size: 50px;
     }
     *:hover{
       color: blue;
     }
     a:visited {
      color: white;
  }

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}